*{
font-family: 'Times New Roman', Times, serif;
}

.pineapplebackground{ 
    height: 110%;
    width: auto;
    background-image: url(../Capstone/Img/background.jpg);
    background-size: cover;
background-position: center;}

.navi{display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 1px;
    padding-left: 1%;
    padding-right: 8%;


}

.Heading{ color: black;
    font-size: 20px;
    letter-spacing: 0,5px;
    cursor: pointer;
   
}



nav ul li{list-style-type: none;
    display:inline-block;
    padding: 2px   20px;
    background-color: rgb(173, 221, 221);
    color: black;
    /* float: middle;  */
    justify-content: space-between;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{color: red;
    transition: .3s;
}


footer{
    
    display:inline-block;
    padding: 5px   25px;
    background: #5c8f6c;
    color: rgb(8, 8, 8);
    margin-left: 0,4px;
    padding: 1px;
    border: 1px solid #fff;
 justify-content: space-evenly;
}

    
    

#intro{
    border: 0,10em;
    border-style: groove;
    padding: 1em;
    border-color: black;
    float: right;
    background-color: rgb(214, 231, 247);
    font-size: larger;
}

#FlexContainer1{
    height:65%;
    width: 100%;
    
}
.Heading2{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.smalltown{font-family: 'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
    
.backgroundinfo{text-align: center;
   
   padding: 25px;
   margin:0,5em;
    display: flex;
    flex: 2;
}

#Imagetwo{display: flex;
flex: 1;
padding: 1em;
margin: 2em;
width: 30em;
height:24em ;
float: right;}

#Containerone{border-right: solid;
border-color: azure;
background-color: rgb(22, 21, 21);
color: white;
text-size-adjust: 1em;
padding: 5em;
margin: 2em;
float: left;
font-size: larger;


}

#Containertwo{border: 0,3em;
    border-style: ridge;
    border-color: azure;
    background-color: rgb(22, 21, 21);
    color: white;
    text-size-adjust: 25px;
    text-align: center;
    font-size: larger;
}

#Imagethree{display: flex;
    padding: 0,3em;
    margin: 1em;
    width: 23em;
    height: 14em ;
    border: 0,3;
    border-style: groove;
    border-color: rgb(255, 255, 255);
    border-width: 5px;
    float: left;
}

#FlexContainer{display: flex;flex-flow: wrap;}
#Imagethree{flex: 1;}
#funfacts{flex: 1;
}

.funfacts{border: 1em;
    border-color: rgb(24, 26, 26);
    border-style: hidden;
    background-color: rgb(185, 185, 209);
    color: rgb(12, 12, 12);
    padding: 1em;
    margin: 2em;
font-size: larger;}

#FlexColumn{display: flex;flex-flow: wrap;}
#Imagetwo{flex: 1;}
#backgroundinfo{flex: 2;}

   
.funfacts2{border: 1em;
    border-color: rgb(24, 26, 26);
    border-style: hidden;
    background-color: rgb(185, 185, 209);
    color: rgb(12, 12, 12);
    padding: 3em;
    margin: 4em;
font-size: larger;}

#Imagefour{display: flex;
    padding: 0,3em;
    margin: 1em;
    width: 20em;
    height: 14em ;
    border: 0,3;
    border-style: groove;
    border-color: rgb(255, 255, 255);
    border-width: 5px;
    float: right}

#FlexColumn{display: flex;flex-flow: wrap;}
#funfacts2{flex: 2;}
#Imagefour{flex: 1;}

#Imagefive{display: flex;
    padding: 0,3em;
    margin: 1em;
    width: 23em;
    height: 14em ;
    border: 0,3;
    border-style: groove;
    border-color: rgb(255, 255, 255);
    border-width: 5px;
    float: left;
}

.pigandwhistle{ border: 1em;
border-color: rgb(24, 26, 26);
border-style: hidden;
background-color: rgb(13, 13, 14);
color: rgb(255, 253, 253);
padding: 3em;
margin: 3em;
font-size: larger;}

.Heading3{color: wheat;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 10px;
  }

#Imagesix{display: flex;
    padding: 0,3em;
    margin: 1em;
    width: 23em;
    height: 14em ;
    border: 0,3;
    border-style: groove;
    border-color: rgb(255, 255, 255);
    border-width: 5px;
    float: right
}

.museum{
    border: 1em;
    border-color: rgb(24, 26, 26);
    border-style: hidden;
    background-color: rgb(13, 13, 14);
    color: rgb(255, 253, 253);
    padding: 3em;
    margin: 3em;
font-size: larger;}

 .Heading4{color: white;
    float: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    float: right;}

.Nextpage{display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 1px;
    padding-left: 1%;
    padding-right: 8%;
   
}

.Nextpage{
    padding: 2px   20px;
    background-color: rgb(87, 243, 121);
    color: black;
    justify-content: space-between;
    
}

.Nextpage a{ color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

.Nextpage a:hover {color: blue;
    transition: .3s;}


.Bigpine{color: white;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

.topo{color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
float: right;}

h2{color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

#Imageseven{display: flex;
    padding: 0,3em;
    margin: 1em;
    width: 23em;
    height: 14em ;
    border: 0,3;
    border-style: groove;
    border-color: rgb(255, 255, 255);
    border-width: 5px;
    display: inline-block;
    }
    